* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #595dae;
  --subColor: #000;
}

body {
  font-family: monospace;
}

main {
  display: flex;
  justify-content: flex-end;
}

.search-area {
  position: fixed;
  width: 40%;
  left: 0;
  background-color: var(--primaryColor);
  height: 100vh;
}

.search-area div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.search-area div h2 {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 40px;
}

.results-area {
  width: 60%;
  padding: 15px;
}

.search-input {
  width: 90%;
  height: 50px;
  border: 0;
  padding: 5px;
  outline: 0;
  color: var(--primaryColor);
}

#search-btn  {
  border: 0;
  cursor: pointer;
}

#search-btn i {
  width: 50px;
  height: 50px;
  color: #fff;
  display: block;
  background-color: var(--subColor);
  font-size: 20px;
  border: 0;
  text-align: center;
  line-height: 50px;
}

.results-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.results-area > div {
  width: 49%;
}

.card {
  box-shadow: 0 4px 20px #ccc;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-img img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-info {
  padding: 30px 0;
  text-align: center;
}

.card-info a {
  display: inline-block;
  width: 210px;
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 25px;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
  margin: 15px 0;
}

.card-info a:hover {
  background-color: var(--subColor);
}

.recipe-details {
  position: fixed;
  width: 45%;
  left: 0;
  background-color: var(--primaryColor);
  height: 100vh;
  padding:80px 30px;
}

.showDetails {
  display: none;
}

.recipe-details i {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: #000;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  font-size: 20px;
  top: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.recipe-details > * {
  margin-bottom: 25px;
  color: #fff;
}

.recipe-details h2 {
  font-size: 35px;
}

.recipe-details p{
  font-size: 18px;
}